div#qTip {
  padding:3px 30px 15px 3px;
  display: none;
  background: #000;
  color: #FFF;
  font: bold 10px Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
  position: absolute;
  z-index: 1000;
  opacity:.7;
  filter: alpha(opacity=70);
    /* Mozilla proprietary */
    -moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topright:10px;
}
span.dday-title{
  cursor: pointer
}